@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
}

ol {
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.input-container,
.output-container {
  width: 45%; /* Adjust the width based on your preference */
}

textarea {
  width: calc(100% - 20px); /* Adjust the width based on padding */
  height: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Add border around textarea */
  resize: none; /* Disable textarea resizing */
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
}

button {
  /*background-color: #4caf50;*/
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
}

button:hover {
  background-color: #45a049;
}

pre {
  white-space: pre-wrap;
  overflow-y: auto; /* Allow vertical scrolling for pre element */
  max-height: 300px; /* Set maximum height for pre element */
  border: 1px solid #ddd; /* Add border around textarea */
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
}

.copyButton {
  background-color: #4caf50;
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}